body{
	font-family: 'Open Sans';
    margin: 0%;
    display: flex;
    flex-direction: column;
}

header{
    overflow:hidden;
	text-align: left;
    flex-direction: row;
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.15);
    padding: 10px;
    padding-left: 200px;
    padding-right: 300px;
    margin-bottom:10px;
    background-color: #061E38;
}

.button-header {
	padding-right: 50px;
	position:relative;
	font-size: 14px;
    text-decoration: none;
	color: white;
}

.button-color {
    color: white;
    text-decoration: none;
}

ul {
	list-style: none;
}


.texto-gris {
    color: #666666;
    
}

h1 {
    font-size: 90px;
    font-weight: 700;
    letter-spacing: -5px;
    line-height: 80px;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
    color:rgb(0, 0, 0);
} 

h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    color:rgb(0, 0, 0);
} 

h3 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1.5px;
    color:rgb(0, 0, 0);
} 

h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    color:rgb(0, 0, 0);
} 


.hero {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
    align-items: center;
    background-color: #fafafa;
    padding: 150px;
}

.hero__pages {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
    align-items: center;
    background-color: #fafafa;
    padding: 100px;
}


.card__pages {
    margin: 5px;
    border: solid;
    border-color: whitesmoke;
    border-radius: 15px;
    padding: 10px;

}

.grid-container {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px;
    justify-content: center;
 }

 .center{
    text-align: center;
    padding-top: 100px;
}

.cards {
    text-align: left;
    background-color: #ffffff;
    border-radius: 24px;
    width: 310px;
    padding: 24px;
    margin: 8px;
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.15);
}

.cards:hover {
    transform: scale(106%,106%);
    transition: 1s;
    font-size: 1rem;
  }

.cards__home {
    text-align: left;
    background-color: #ffffff;
    border-radius: 24px;
    width: 420px;
    padding: 32px;
    margin: 8px;
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.15);
}


.button-primary {
    width: 100px;
    height: 42px;
    border: none;
    font-size: 16px;
    color: white;
    background-color: #0ACF83;
    border-radius: 100px;
}

.button-primary:hover {
    transform: scale(108%,108%);
    transition: 1s;
    font-size: 1rem;
  }

footer{
    margin-top: 62px;
    padding: 20px;
    background-color: #061E38;
    color: white;
    text-align: center;
    top: 20px;
}

.logo-header {
    padding: 10px 40px 10px 90px;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }

.input-buscador {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 1.5;
    display: block;
    border-radius: .90rem;
    background-clip: padding-box;
    border: none;
    background-color: #1F344C;
}

.input-form {
    background-color: #f5f5f5;
    border: none;
    border-radius: 20px;
    height: 48px;
}

.card-section {
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .box {
        display: grid;
        grid-row-gap: 16px;
        grid-template-columns: repeat(4,4fr);
        grid-column-gap: 16px;
        padding: 100px;
        justify-content: center;
    }
    .box__card {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.8);
        border: solid;
        border-color: whitesmoke;
        border-radius: 15px;
        padding: 25px;

    }

 }

 @media only screen and (max-width: 480px) {

    .menu{
        display: flex;
        padding: 10px;
        background-color: #061E38 ;
    }

    .button-header {
        display: inline-block;
        padding-right: 10px;
        position:relative;
        font-size: 16px;
        color: white;
    }
    
    .box {
        padding: 10px;
    }
    .box__card {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.8);
        border: solid;
        border-color: whitesmoke;
        border-radius: 16px;
        padding: 24px;
        margin-bottom: 16px;
    }
    

    .hero__pages {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #fafafa;
        padding: 10px;
    }

    .hero {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #fafafa;
        padding: 10px;
    }

    .card {
        text-align: left;
        background-color: #fafafa;
        border-radius: 20px;
        width: 250px;
        padding: 24px;
        margin: 16px;
        display:inline-block;
    }

    .hero__image{
        width: 90%;
        animation-name: aparecer;
    }


    h1 {
        font-size: 60px;
        letter-spacing: -5px;
        line-height: 60px;
        color: rgb(0, 0, 0);
        margin-top: 5px;
        margin-bottom: 5px;
        color:rgb(0, 0, 0);
    } 

 }
 

